/* здесь используйте глобальные переменные */

$desktop-width: 1920px;

$base-white: #ffffff;

$base-primary: #9d097c;

$base-secondary: #32334c;

$base-lighter: #777893;

$text-secondary: #1c1c1e;

$base-gradient: 47deg, #db2d8f 0%, #2d1178 100%;

$base-bg: #c6d9dd;
